.team-member-container{
    /* background-color: green; */
    height: 55vh;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    gap:2vw;
}


.team-member-container img{
    border-radius: 50%;
}

.image-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-icon-container div{
    margin-top: 3vh;
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.team-member-description{
    height: 35vh;
    width: 85vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
}

.about-description{
    /* background-color: gray; */
    color:white;
    width: 400px;
    height: 250px;
    border: 1px solid #008df8;
    border-radius: 10px;
    padding: 30px;
    overflow: auto;

}

.fa-brands{
    color: white;
    font-size: 42px;
}


.fa-brands:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease-out;
  }
