.team-member-container{
    /* background-color: green; */
    height: 42vh;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    gap:2vw;
}

.team-member-container #img-div{
    border-radius: 50%;
    width: 12vw;
    height: 24vh;
    overflow: hidden;

}
.team-member-container #kevin-img{
    transform:scale(2);
}

.team-member-container #joey-img{
    transform:scale(2);
}

.team-member-container #img-div:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: rgba(255, 235, 205, 1) 0px 2px 18px 0px;
} 
.image-icon-container{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-icon-container div{
    margin-top: 3vh;
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.team-member-description{
    height: 35vh;
    width: 85vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
}

.about-description{
    /* background-color: gray; */
    color:white;
    width: 50vw;
    height: 25vh;
    border: 1px solid #008df8;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;

}

.fa-brands{
    color: white;
    font-size: 2vw;
    
}


/* .fa-brands:hover {
    transform: scale(1.5);
    transition: transform 0.1s ease-out;

  } */


  .team-member-container h2:hover{
    color:#8eff1e;
    transition: color 0.3s ease;
  }


  .about-description::-webkit-scrollbar {
    width: 5px;
  }
  
  .about-description::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .about-description::-webkit-scrollbar-thumb {
    background: #008df8; 
    border-radius: 10px;
  }
  
  .fa-brands:hover {
    animation: shake 0.4s;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(0) scale(1);
    }
    25% {
      transform: rotate(10deg) scale(1.1);
    }
    50% {
      transform: rotate(-10deg) scale(0.9);
    }
    75% {
      transform: rotate(10deg) scale(1.1);
    }
    100% {
      transform: rotate(0) scale(1);
    }
  }