#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
    z-index: -1;
  }

.video-background {
    object-fit: cover;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
}