
.nav-bar-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color:white;
    margin-left: 20px;
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 15px;
    min-width: 275px;
    overflow: hidden;
    min-height: 30px;
}

.nav-bar-button{

    background-color: rgba(51,51,51,1);
    color:white;
    border:none;
    font-size: 25px;
    width: auto;
    border-radius: 10px;    
    margin-left: 0.3vw;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color,padding 0.2s ease; 

}

.nav-bar-button:hover{
    background-color: #008df8;
    padding: 0px 60px;
}


.nav-bar-button:active{
    background-color: rgba(51,51,51,1);
}

.console-navbar{
    display: flex;
    background-color: rgba(51,51,51,0.8);
    width: 85vw;
    height: 5vh;
    min-width: 1200px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    justify-content: flex-start;
    align-items: flex-end;
}

.console-nav-link-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    z-index: 1;
}


.user-console-name{
    color: white;
    cursor: pointer;
}

.user-console-name:hover{
    color: #008df8;
    transition: color 0.2s ease;

}

.name-container{
    width: 45vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
    margin-right: 1vw;
}

.fa-solid{
    margin-top:10px;
    font-size: 20px;
}

#console-logout-button:hover{
    background-color: red;
    padding: 0px 60px;
    transition: background-color,padding 0.2s ease; 
    
}