.sign-up-page-container{
    background-color: black;
    display: flex;
    height: 85vh;
    width: 85vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    border: solid 1px rgba(51,51,51,0.8);
    overflow: hidden;
}

.all-input-container{

}
input{
    background-color: black;
    color: white;
    border:none;
    font-size: 20px;
}

input:focus{
    outline: none;
}


label {
    color: white;
    font-size: 20px;
}
#label-green{
    color: #8eff1e;
}

#label-blue{
    color:#008df8
}

.signup-button, .signin-button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 80px;
  }
  
  button:hover {
    background-color: green;
  }
  
  .buttons-container{
    display: flex;
  }

  .signup-navbar{
    display: flex;
    background-color: rgba(51,51,51,0.8);
    width: 85vw;
    height: 5vh;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    justify-content: flex-start;
    align-items: flex-end;
}

.thebox-image{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 1000px;
}






#new{
    color:white
}
  

