.main-page-create-game-button{

}

.create-game-container{
    width: 85vw;
    height: 85vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 100px;
}

.main-page-button-container{
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5vh;
    
}


