.canvas {
    border: white solid 1px;
    border-radius: 5%;
    padding: 20px;
}
#game-timer {
    margin: auto;
    font-size: 60px;
    padding-bottom: 10px;
}
#canvas-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background: black;
}

#game-input {
    border-bottom: solid 1px #8eff1e;
}

#answer-div{
    display:flex;
    justify-content: center;
    padding: 30px;
}

.game-container{
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#category-header {
    margin: auto;
    font-size: 50px;
}