                                                                        .canvas {
    border: #8eff1e solid 1px;
    border-radius: 5%;
}

#canvas-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background: black;
    margin-top:15vh;
}

#answer-div{
    display:flex;
    justify-content: center;
    padding: 30px;
}

.game-container{
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}