.canvas {
    border: #8eff1e solid 1px;
    border-radius: 100px;
}

#canvas-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border: gray solid 2px;
    background: black;
}

#answer-div{
    display:flex;
    justify-content: center;
    padding: 30px;
}