#chat-div{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin-left: 50px;
    width: auto;
    background-color: black;
    max-height: 500px;
    overflow: auto;
}

.chat-div::-webkit-scrollbar {
    width: 0;
    display: none;
  }

#chat-div p {
    color: #8eff1e;
}
#game-page {
    display: flex;
    justify-content: center;
}