h1 {
    color: blanchedalmond;
}

.user-profile-container{
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: top;
    margin-top: 10vh;
    /* background-color: green; */
}

.profile-image{
    height: 400px;
    width: 400px;
}

#file-name{
    color: white;
}

.wins-and-losses{
    /* background-color: purple;        */
    margin-top: 20vh;
    width: 40vw;
    height: 30vh;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: top;
    flex-direction: column;
}

.win-percent{
    /* background-color: green; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.win-losses-container{
    display: flex;
    justify-content: space-around;
}