h1 {
    color: blanchedalmond;
}

.user-profile-container{
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: top;
    margin-top: 10vh;
    /* background-color: green; */
}

.profile-image{
    height: 400px;
    width: 400px;
}

#file-name{
    color: white;
}

.wins-and-losses{
    /* background-color: purple;        */
    margin-top: 20vh;
    width: 40vw;
    height: 30vh;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: top;
    flex-direction: column;
}

.win-percent{
    /* background-color: green; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.win-losses-container{
    display: flex;
    justify-content: space-around;
}

.matchlist-container{
    position: absolute;
    bottom: -35vh;
    /* background-color: darkblue; */
    display: flex;
    height: 40vh;
    width: 50vw;
    color: #8eff1e;
    overflow-y: auto;
}

#player-list-title{
    display: inline;
    color:#008df8;
}

.win-loss-match{
    font-weight: bold;
    font-size: 24px;
}
#roomname-title-match{
    margin-bottom: 0px;
    color:blanchedalmond;
}
