.rooms-list {
    color: #8eff1e;
}

.room-item {
    cursor: pointer;
}

.room-list-container{
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-list-style{
    height: 600px;
    width: 800px;
    border: 1px solid #008df8;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.room-item-container{
    border: 1px solid #8eff1e;
    height: 10vh;
    width: 37vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vh;
}

.room-item-container:hover{
    background-color: green;
    transition: background-color 0.2s ease;

}

.roomlist-title{
    /* background-color: #008df8; */
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}